body {
    margin: 0;
    padding: 0;
    background-color: #ccc;
    perspective: 1000px;
    height: 100vh;
}

ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    padding: 0;
    width: 80%;
    text-align: center;
}

ul li {
    display: inline-block;
    list-style: none;
    margin: 0 40px;
}

ul li .fa {
    font-size: 35px;
    color: #000;
    line-height: 80px;
    transition: .5s;
}

ul li a {
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
    background-color: #fff;
    text-align: center;
    transform: rotate(-30deg) skew(25deg) translate(0, 0);
    transition: .5s;
    box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.466);
}

ul li a::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 100%;
    top: 10px;
    left: -20px;
    background-color: rgb(175, 173, 173);
    transform: rotate(0deg) skewY(-45deg);
    transition: .5s;
}

ul li a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    background-color: rgb(175, 173, 173);
    bottom: -20px;
    left: -10px;
    transform: rotate(0deg) skewX(-45deg);
    transition: .5s;
}

ul li a:hover .fa {
    color: #fff;
}

ul li a:hover {
    transform: rotate(-30deg) skew(25deg) translate(20px, -20px);
    box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
}

/* facebook */

ul li:hover:nth-child(1) a {
    background: #4867AA;
}

ul li:hover:nth-child(1) a:before {
    background: #395ba3;
}

ul li:hover:nth-child(1) a:after {
    background: #5d7cbe;
}

/* twitter */

ul li:hover:nth-child(2) a {
    background: #5DA9DD;
}

ul li:hover:nth-child(2) a:before {
    background: #328bc7;
}

ul li:hover:nth-child(2) a:after {
    background: #6db5e6;
}

/* linkedin */

ul li:hover:nth-child(3) a {
    background: #0077B5;
}

ul li:hover:nth-child(3) a:before {
    background: #0077B5;
}

ul li:hover:nth-child(3) a:after {
    background: #0077B5;
}

/* google-plus */

ul li:hover:nth-child(4) a {
    background: #DD4D42;
}

ul li:hover:nth-child(4) a:before {
    background: #DD4D42;
}

ul li:hover:nth-child(4) a:after {
    background: #DD4D42;
}

/* instagram */

ul li:hover:nth-child(5) a {
    background: rgb(245, 90, 90);/* 
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%); */
}

ul li:hover:nth-child(5) a:before {
    background: rgb(231, 74, 74);/* 
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%); */
}

ul li:hover:nth-child(5) a:after {
    background: rgb(248, 100, 100);/* 
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%); */
}